.progressBar .outerDiv {
    height: 35px;
    width: 50px;
    border: 2px solid #ccc;
    position: relative;
}

.progressBar .innerDiv {
    height: 31px;
    position: absolute;
    top: 0px;
    left: 0px;
    animation-name: progress;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

@keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: currentWidth;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .progressBar .outerDiv {
        width: 25px;
        height: 10px;
        border: 1px solid #ccc;
    }

    .progressBar .innerDiv {
        height: 8px;
    }
}