.arrow {
    width: 55px;
    position: relative;
}

.arrow .arrowIcon {
    text-align: center;
}

.arrow .arrowLabel {
    text-align: center;
    color: black;
}

.arrow .arrowIcon .glyphicon {
    font-size: 50px;
}

.arrow .arrowIcon .value {
    position: absolute;
    top: 7px;
    left: 19px;
    font-weight: bold;
}