[ng-cloak] {
    display: none;
}

body {
    background-color: #FFFFFF;
    margin-top: 72px;
    margin-bottom: 20px;
}

.navbar, footer {
    background-color: #61BCF6;
}

.navbar a {
    color: #333333 !important;
}

footer {
    height: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}